@import 'styles/shared.scss';

.dateGroup {
    display: flex;
}

.date {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.52;
    margin-left: 10px;
    
    color: $timerText;
}

.date:first-child {
    margin-left: 38px;
}

.days {
    color:red
}