@import 'styles/shared.scss';

.form {
    display: grid;
    align-items: start;
}

.goBack {
    margin-bottom: 25px;
    color: $accent;
}

.formTitle {
    height: 60px;
    margin-bottom: 20px;
    padding: 11px 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.9;
    text-align: center;

    color: $white;
    background-color: $titleBg;
    box-shadow: $boxShadowTitle;
}

.inputsGroup {
    margin-bottom: 20px;
}

.inputContainer {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.formInput {
    width: 100%;
    height: 42px;
    padding: 5px 47px;
    border: $inputBorder;
    outline: none;

    font-weight: inherit;
    line-height: 2.71;

    color: $inputTextColor;
    background-color: transparent;

    &::placeholder {
        color: $inputTextColor;
    }
}

.calendarIcon {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;

    color: $inputTextColor;
}

.chevronDownIcon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;

    color: $primaryText;
}

.selectContainer {
    position: relative;
    margin-bottom: 35px;

    background-color: $white;
}

.formSelect {
    width: 100%;
    height: 42px;
    padding: 5px 41px 5px 13px;
    border: none;
    outline: none;

    font-weight: inherit;
    line-height: 2.71;

    color: $inputTextColor;
    background-color: transparent;
    box-shadow: $boxShadowInput;

    &::placeholder {
        color: $inputTextColor;
    }
}

.formButton {
    height: 42px;
    justify-self: center;
    padding: 0 70px;
    border: 1px solid $primaryText;

    font-weight: inherit;
    line-height: 2.71;

    color: $black;
    background: $primaryBg;
}
