@import 'styles/shared.scss';

.form {
    display: grid;
    align-items: start;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.goBack {
    margin-bottom: 25px;
    color: $accent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.formTitle {
    height: 60px;
    margin-bottom: 20px;
    padding: 11px 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.9;
    text-align: center;

    color: $white;
    background-color: $titleBg;
    box-shadow: $boxShadowTitle;
}

.calendarsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-bottom: 25px;
        flex-direction: row;
        justify-content: center;
    }
}

.inputContainer {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-right: 45px;
        }
    }
}

.formInput {
    width: 100%;
    height: 42px;
    padding: 5px 47px;
    border: $inputBorder;
    outline: none;

    font-weight: inherit;
    line-height: 2.71;

    color: $inputTextColor;
    background-color: transparent;

    &::placeholder {
        color: $inputTextColor;
    }
}

.calendarIcon {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;

    color: $inputTextColor;
}

.chevronDownIcon {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;

    color: $primaryText;
}

.selectAndButton {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.selectContainer {
    position: relative;
    margin-bottom: 35px;

    background-color: $white;

    @media screen and (min-width: 768px) {
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: 25px;
    }
}

.formSelect {
    width: 100%;
    height: 42px;
    padding: 5px 41px 5px 13px;
    border: none;
    outline: none;

    font-weight: inherit;
    line-height: 2.71;

    color: $inputTextColor;
    background-color: transparent;
    box-shadow: $boxShadowInput;

    &::placeholder {
        color: $inputTextColor;
    }

    @media screen and (min-width: 768px) {
        grid-row: 1 / 8;
    }
}

.formButton {
    height: 42px;
    align-self: center;
    padding: 0 70px;
    border: 1px solid $primaryText;

    font-weight: inherit;
    line-height: 2.71;

    color: $black;
    background: transparent;

    @media screen and (min-width: 768px) {
        grid-row: 8 / 12;
    }
}
