@import 'styles/shared.scss';

.btn {
  background-color: $white;
  box-shadow: $boxShadowBtn;
  border: $buttonBorder;
  outline: none;
  color: $primaryText;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 130px;
  height: 40px;

  @include for-size(mobile-only) {
    width: 98px;
  }
}

.btn:hover {
  transform: scale(1.05);
}
