@import 'styles/shared.scss';

.container {
  display: flex;
  align-items: center;
}

.select {
  width: 45px;
  height: 25px;

  border: none;
  outline: none;
}

.option {
  color: $primaryText;
}
