@import 'styles/shared.scss';

.item {
  position: relative;
  width: 100%;
  padding: 22px 35px;

  @include for-size(mobile-tablet) {
    &:not(:last-child) {
      border-bottom: 1px solid #e0e5eb;
    }
  }

  @include for-size(tablet) {
    display: flex;
    align-items: center;
    padding: 11px 0px;
  }

  @include for-size(desktop) {
    padding: 7px 0px;
  }
}

.checkbox {
  @include for-size(mobile-only) {
    position: absolute;
    top: 25px;
    left: 0;
  }

  @include for-size(tablet) {
    margin-right: 25px;
  }
}

.bookIcon {
  width: 22px;
  height: 17px;

  fill: $inputTextColor;

  @include for-size(mobile-only) {
    position: absolute;
    top: 25px;
    left: 0;
  }

  @include for-size(tablet) {
    margin-right: 18px;
  }
}

.field {
  font-size: 12px;
  line-height: 1.25;

  @include for-size(mobile-only) {
    display: flex;
  }

  @include for-size(tablet) {
    font-size: 14px;
  }
}

.title {
  composes: field;

  @include for-size(mobile-only) {
    margin-bottom: 17px;
    min-height: 15px;
  }

  @include for-size(tablet) {
    width: 206px;
    margin-right: 18px;
  }

  @include for-size(desktop) {
    width: 304px;
  }
}

.author {
  composes: field;

  @include for-size(mobile-only) {
    margin-bottom: 17px;
  }

  @include for-size(tablet) {
    width: 154px;
    margin-right: 18px;
  }

  @include for-size(desktop) {
    width: 194px;
  }
}

.year {
  composes: field;

  @include for-size(mobile-only) {
    margin-bottom: 17px;
  }

  @include for-size(tablet) {
    width: 42px;
    margin-right: 18px;

    text-align: right;
  }
}

.pages {
  composes: field;

  @include for-size(tablet) {
    width: 76px;

    text-align: right;
  }
}

.prefix {
  flex-shrink: 0;
  width: 60px;
  margin-right: 11px;

  color: $secondaryText;

  @include for-size(tablet) {
    display: none;
  }
}

.deleteBtn {
  color: $secondaryText;

  &:hover {
    color: $accent;
  }

  @include for-size(mobile-only) {
    position: absolute;
    top: 25px;
    right: 0;
  }

  @include for-size(tablet) {
    margin-left: 48px;
  }

  @include for-size(desktop) {
    margin-left: 116px;
  }
}
