@import 'styles/shared.scss';

.modalBox {
  background-color: $white;
  box-shadow: $boxShadowChart;
  margin-bottom: 30px;

  @include for-size(mobile-only) {
    // width: 100%;
    width: 270px;
    // max-height: 290px;
    // margin-bottom: 40px;
    height: 290px;
  }

  @include for-size(tablet) {
    width: 678px;
    height: 340px;
  }

  @include for-size(desktop) {
    width: 886px;
    margin-bottom: 0;
  }
}
