@import 'styles/shared.scss';

.container {
  width: 390px;
  height: 290px;
  @include for-size(mobile-only) {
    width: 270px;
    height: 296px;
  }
}

.thump {
  display: flex;
  justify-content: center;

  padding-top: 40px;
}

.title {
  width: 289px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;

  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile-only) {
    margin-top: 0px;
    width: 180px;
  }
}

.btn {
  // display: flex;
  // justify-content: center;
  background-color: $accent;
  box-shadow: $boxShadowBtn;
  border: none;
  outline: none;
  color: $white;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-left: 130px;
  margin-top: 25px;

  @include for-size(mobile-only) {
    margin-left: 86px;
    margin-top: 20px;
  }
}

// .btn {
//   background-color: $accent;
//   box-shadow: $boxShadowBtn;
//   border: none;
//   outline: none;
//   color: $white;
//   transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

//   width: 130px;
//   height: 40px;

//   @include for-size(mobile-only) {
//     width: 97px;
//   }
// }

.btn:hover {
  transform: scale(1.05);
}
