@import 'styles/shared.scss';

.wrapper {
  padding-top: 30px;
  padding-bottom: 50px;

  @include for-size(tablet) {
    padding-bottom: 60px;
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;

    padding-top: 50px;
    padding-bottom: 35px;
  }
}

.myTraining {
  order: -1;

  @include for-size(desktop) {
    width: 886px;
  }
}
