@import 'styles/shared.scss';

.wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;

  @include for-size(tablet) {
    padding-bottom: 60px;
  }

  @include for-size(desktop) {
    display: flex;
    height: 100vh;
    margin-top: -60px;
    justify-content: space-between;
    padding-top: 110px;
    padding-bottom: 40px;
  }
}

.rightPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
