@import 'styles/shared.scss';

.modalBackdrop {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: fixed;
    top: 60px;
    height: 100%;
    background-color: #f6f7fb;
    // outline: 2px solid orchid;
  }
}

.goBack {
  margin-top: 25px;
  margin-bottom: -40px;
  color: $accent;
  cursor: pointer;
}
