@import 'styles/shared.scss';

.category {
  width: 1202px;
  margin-top: 30px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 678px;
    margin-top: 40px;
    background-color: orchid;
  }
}

.categoryTitle {
  font-size: 19px;
  line-height: 2;
  color: $primaryText;
}

.categoryListTitle {
  width: 1202px;
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 678px;
  }
}

.categoryListTitleItems {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: $secondaryText;
  height: 38px;
}

.categoryListTitleItemNameDone {
  composes: categoryListTitleItems;
  width: 92px;
  margin-right: 269px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 124px;
  }
}

.categoryListTitleItemAuthorDone {
  composes: categoryListTitleItems;
  width: 45px;
  margin-right: 184px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 84px;
  }
}

.categoryListTitleItemYearDone {
  composes: categoryListTitleItems;
  width: 25px;
  margin-right: 70px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 36px;
  }
}

.categoryListTitleItemPageDone {
  composes: categoryListTitleItems;
  width: 39px;
  margin-right: 110px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 21px;
  }
}

.categoryListTitleItemRateDone {
  composes: categoryListTitleItems;
  width: 110px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 62px;
  }
}

.bookListItem {
  display: flex;
  width: 1202px;
  height: 62px;
  align-items: center;
  margin-bottom: 10px;
  background: $white;
  box-shadow: $boxShadowTitle;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 678px;
  }
}

.icons {
  margin-left: 15px;
}

.iconDone {
  composes: icons;
  fill: #6d7a8d;
}

.iconRead {
  composes: icons;
  fill: #ff6b08;
}

.iconPlan {
  composes: icons;
  fill: #a6abb9;
}

.bookListItemNames {
  composes: categoryListTitleItems;
  color: $primaryText;
  display: flex;
  align-items: center;
}

.bookListItemNameDone {
  composes: bookListItemNames;
  width: 260px;
  margin-left: 15px;
  margin-right: 41px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 135px;
    margin-right: 21px;
  }
}

.bookListItemAuthorDone {
  composes: bookListItemNames;
  width: 87px;
  margin-right: 130px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 29px;
  }
}
.bookListItemYearDone {
  composes: bookListItemNames;
  width: 40px;
  margin-right: 68px;
  justify-content: flex-end;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 52px;
  }
}
.bookListItemPageDone {
  composes: bookListItemNames;
  width: 40px;
  margin-right: 110px;
  justify-content: flex-end;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 21px;
    width: min-content;
  }
}

.stars {
  width: 110px;
  margin-right: 50px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 97px;
    margin-right: 18px;
  }
}

.buttonRezume {
  width: 130px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.71;
  color: #ffffff;
  background: #6d7a8d;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  opacity: 0.8;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 80px;
  }
}
.buttonRezume:hover {
  outline: none;
  opacity: 1;
}

.categoryListTitleItemName {
  composes: categoryListTitleItems;
  width: 92px;
  margin-right: 534px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 252px;
  }
}

.categoryListTitleItemAuthor {
  composes: categoryListTitleItems;
  width: 45px;
  margin-right: 311px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 146px;
  }
}

.categoryListTitleItemYear {
  composes: categoryListTitleItems;
  width: 23px;
  margin-right: 73px;
  justify-content: flex-end;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 55px;
  }
}

.categoryListTitleItemPage {
  composes: categoryListTitleItems;
  width: 39px;
  justify-content: flex-end;
}

.bookListItemName {
  composes: bookListItemNames;
  width: 430px;
  margin-left: 15px;
  margin-right: 136px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 56px;
    width: 228px;
  }
}
.bookListItemAuthor {
  composes: bookListItemNames;
  width: 139px;
  margin-right: 208px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 43px;
  }
}

.bookListItemYear {
  composes: bookListItemNames;
  width: 40px;
  margin-right: 68px;
  justify-content: flex-end;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 77px;
  }
}
.bookListItemPage {
  composes: bookListItemNames;
  width: 40px;
  margin-right: 40px;
  justify-content: flex-end;
}

.link {
  display: flex;
}

.button {
  margin: 40px auto;
  width: 200px;
  height: 40px;
  background: $accent;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.37px;
  color: $white;
  border: none;
  opacity: 0.8;
}
.button:hover {
  outline: none;
  background-color: $accent;
  opacity: 1;
}

.btnTrash {
  border: none;
  outline: none;
  display: flex;
  background-color: $white;
  fill: $inputTextColor;
}

.btnTrash:hover {
  outline: none;
  fill: $accent;
}
.trash {
  display: flex;
}
