@import 'styles/shared.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: $modalOverlay;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background: $white;

  // @include for-size(tablet) {
  //   display: block;
  //   position: absolute;
  //   height: 100vh;
  //   width: 512px;

  //   max-width: 512px;
  //   padding-top: 121px;
  //   padding-left: 32px;
  //   padding-right: 50px;
  //   padding-bottom: 100px;
  //   margin-bottom: 40px;
  // }

  // @include for-size(desktop) {
  //   max-width: 530px;
  //   padding-left: 50px;
  //   width: 530px;
  // }
}

// .sidebar-modal__btn {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 18px;
//   height: 18px;
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
//   outline: none;
// }
// .sidebar-modal__icon {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   width: 18px;
//   height: 18px;
//   cursor: pointer;
// }
// .sidebar-modal__link {
//   font-family: Montserrat;
//   padding-bottom: 5px;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 18px;
//   line-height: 0.818;
//   text-align: center;
//   letter-spacing: 0.04em;
//   color: $secondaryText;
//   text-decoration: none;
//   border: none;
//   border-bottom: 1px solid $secondaryText;
//   background-color: transparent;
//   display: block;
//   margin: auto;
//   cursor: pointer;
// }

// .sidebar-modal__btm {
//   text-align: center;
//   margin-top: 60px;
// }

// .form__title {
//   margin-bottom: 30px;

//   font-family: inherit;
//   font-weight: 500;
//   font-size: 26px;
//   line-height: 1.231;

//   color: $primaryText;

//   @include for-size(tablet) {
//     margin-bottom: 50px;

//     font-size: 36px;
//     line-height: 1.222;
//   }

//   @include for-size(desktop) {
//     text-align: center;
//   }
// }